*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: rgb(230,207,232);
    background: linear-gradient(135deg, rgba(230,207,232,1) 0%, rgba(54,195,180,0.8477590865447742) 35%, rgba(255,0,93,0.5452380781414128) 100%); 
}
.container{
    border-radius: 10px;
    width: 30%;
    height: 450px;
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgb(252, 235, 235);
    -webkit-box-shadow: 2px 9px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 9px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 9px 30px 0px rgba(0,0,0,0.75);
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper p{
    font-size: 1.4rem;
    margin: 5px 0;
}
.container h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.container input[type="text"],select{
    width: 80%;
    font-size: 1.2rem;
    border:none;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding:2px;
    text-align: center;
}
.container button{
    font-size: 1.2rem;
    border: none;
    margin: 15px 0;
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: rgb(89, 169, 245);
    color:white;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(106,196,144,1);
-moz-box-shadow: 0px 0px 11px -2px rgba(106,196,144,1);
box-shadow: 0px 0px 11px -2px rgba(106,196,144,1);

}
.container button:hover{
    background-color: rgb(105, 223, 223);
    color:rgb(7, 7, 7);
    box-shadow: none;
    -webkit-box-shadow: 0px 0px 11px -2px rgba(107,175,194,1);
-moz-box-shadow: 0px 0px 11px -2px rgba(107,175,194,1);
box-shadow: 0px 0px 11px -2px rgba(107,175,194,1);
}
.tip{
    font-size: 1.4rem;
    display: none;
}
