body{
    width:100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: rgb(230,207,232);
    background: linear-gradient(135deg, rgba(230,207,232,1) 0%, rgba(54,195,180,0.8477590865447742) 35%, rgba(255,0,93,0.5452380781414128) 100%); 
}
.container{
    background-color: rgb(252, 235, 235);
    padding:20px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 9px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 9px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 9px 30px 0px rgba(0,0,0,0.75);
    margin:auto;
}
.question{
    font-size: 2rem;
}
.options{
    font-size:1.5rem;
    margin: 1rem 0 1rem 1rem;
}
#score{
    font-size: 1.5rem;
}
#btn{
    font-size:1.5rem;
    padding: 0.5rem;
    border:none;
    background-color: rgb(96, 147, 241);
    color:white;
    border-radius: 8px;
}
#btn:hover{
    background-color: rgb(38, 153, 53);
    color:white;
}
